<div class="feedback">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <h2 class="feedback__title">Обратная связь</h2>
        <hr>
      </div>
      <div class="col mb-5 mb-md-0">
        <div class="feedback__caption">
          Страховая компания «НАСКО» делает все возможное, чтобы процессы приобретения страховых полисов и качество обслуживания страхователей при урегулировании убытков были максимально легким и удобными для наших клиентов.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 mb-5 mb-lg-0">
        <form>
          <div class="picker picker_orange mb-3">
            <select class="selectpicker" title="Вопрос по электронному ОСАГО">
              <option>Вопрос по электронному ОСАГО</option>
              <option>Вопрос по электронному ОСАГО</option>
            </select>
          </div>
          <input type="text" class="form-control form-control_light mb-3" placeholder="Ваше ФИО*">
          <div class="row mb-3">
            <div class="col-12 col-sm-6">
              <input type="text" class="form-control form-control_light" placeholder="Ваш e-mail">
            </div>
            <div class="col-12 col-sm-6 phone-pick phone-pick_light">
              <input type="tel" required class="form-control form-control_light" placeholder="(___) ___-__-__">
            </div>
          </div>
          <textarea class="form-control form-control_light mb-3" placeholder="Ваш вопрос*"></textarea>
          <div class="form-text mb-4">*Поля обязательны для заполнения</div>
          <div class="row justify-content-between align-items-center">
            <div class="col mb-4 mb-sm-0">
              <div class="custom-checkbox">
                <input type="checkbox" id="push" class="custom-control-input">
                <label for="push" class="custom-control-label">Согласен на обработку персональных данных</label>
              </div>
            </div>
            <div class="col-12 col-sm-auto">
              <button class="btn">Отправить<span class="ml-2 icon-arrow-right"></span></button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-6">
        <div class="faq">
          <div class="faq__title">Часто задаваемые вопросы</div>
          <ul>
            <li><a href="#">Действия при страховом случае - Если вы виновник ДТП?</a></li>
            <li><a href="#">Что делать при наступлении страхового события по страхованию недвижимости?</a></li>
            <li><a href="#">Что делать при наступлении страхового события по страхованию здоровья?</a></li>
            <li><a href="#">Действия при страховом случае - Если вы виновник ДТП?</a></li>
            <li><a href="#">Что делать при наступлении страхового события по страхованию недвижимости?</a></li>
          </ul>
          <a href="#" class="faq__all"><span>Все вопросы</span><span class="icon-arrow-white ml-2"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>