<div id="sidr">
  <a href="#" id="ham-menu-close" class="ham-trigger ham-trigger_close"></a>
  <form class="ham-search">
    <input type="text" placeholder="Поиск">
  </form>
  <div class="citypick citypick_ham">
    <span class="icon-marker mr-1"></span>
    <span>Ваш город:</span>
    <a href="#" data-toggle="modal" data-target="#city-modal">Москва</a>
    <!--<select class="selectpicker" title="Москва">
      <option>Москва2</option>
      <option>Москва3</option>
    </select>-->
  </div>
  <div class="nav">
    <ul>
      <li><a href="#">Частным клиентам</a></li>
      <li><a href="#">Корпоративным клиентам</a></li>
      <li><a href="#">О компании</a></li>
      <li><a href="#">Контакты</a></li>
      <li><a href="#">Онлайн сервисы НАСКО</a></li>
    </ul>
  </div>
</div>