<script src="f/js/jquery-3.3.1.min.js"></script>
<script src="f/js/bootstrap.bundle.min.js"></script>
<script src="f/js/bootstrap-select.min.js"></script>
<script src="f/slick/slick.min.js"></script>
<script src="f/js/jquery.maskedinput.min.js"></script>
<script src="f/js/jquery.sidr.min.js"></script>
<script src="f/js/jquery.scrollTo.min.js"></script>
<script src="f/js/speedometer.js"></script>
<script src="f/js/jquery.spincrement.min.js"></script>
<script src="f/js/datepicker.min.js"></script>
<script src="f/js/ion.rangeSlider.min.js"></script>
<script src="f/js/main.js"></script>