<div class="statistic">
  <div class="container">
    <h2>Статистическая информация компании</h2>
    <hr>
    <ul class="nav row nav-tabs nav-tabs_center justify-content-center no-gutters">
      <li class="col-6 col-md-auto">
        <a class="btn active show" data-toggle="tab" href="#panel1">I квартал</a>
      </li>
      <li class="col-6 col-md-auto">
        <a class="btn" data-toggle="tab" href="#panel2">II квартал</a>
      </li>
      <li class="col-6 col-md-auto">
        <a class="btn" data-toggle="tab" href="#panel3">III квартал</a>
      </li>
      <li class="col-6 col-md-auto">
        <a class="btn" data-toggle="tab" href="#panel4">IV квартал</a>
      </li>
    </ul>
    <div class="statistic__content tab-content">
      <div id="panel1" class="tab-pane fade active show">
        <div class="row">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <div class="statistic__item" data-speed="52.1" data-speed-max="1" data-speed-dif="0.05" data-speed-small="true">
              <div class="statistic__name">Количество договоров</div>
              <div class="statistic__meter">
                <input id="sp1"/>
                <div class="statistic__meter-grad">
                  <svg id="svg" width="210" height="210" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                      <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" stop-color="#f6a702" />
                        <stop offset="100%" stop-color="#003764" />
                      </linearGradient>
                    </defs>
                    <circle r="94" cx="100" cy="100" stroke="url(#gradient)" stroke-width="22" fill="none"  stroke-dasharray="675.48" stroke-dashoffset="0"></circle>
                  </svg>
                </div>
              </div>
              <div class="statistic__nums">
                <span class="spincrement">62.3</span>
                тыс. шт.
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <div class="statistic__item" data-speed="3.78" data-speed-max="5" data-speed-dif="0.25">
              <div class="statistic__name">Страховые выплаты</div>
              <div class="statistic__meter">
                <input id="sp2"/>
                <div class="statistic__meter-grad">
                  <svg id="svg" width="210" height="210" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                      <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" stop-color="#f6a702" />
                        <stop offset="100%" stop-color="#003764" />
                      </linearGradient>
                    </defs>
                    <circle r="94" cx="100" cy="100" stroke="url(#gradient)" stroke-width="22" fill="none"  stroke-dasharray="675.48" stroke-dashoffset="0"></circle>
                  </svg>
                </div>
              </div>
              <div class="statistic__nums">
                <span class="spincrement">3.78</span>
                млрд. руб.
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 mb-3 mb-lg-0">
            <div class="statistic__item" data-speed="3.42" data-speed-max="15" data-speed-dif="0.75">
              <div class="statistic__name">Страховые премии</div>
              <div class="statistic__meter">
                <input id="sp3"/>
                <div class="statistic__meter-grad">
                  <svg id="svg" width="210" height="210" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                      <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                        <stop offset="0%" stop-color="#f6a702" />
                        <stop offset="100%" stop-color="#003764" />
                      </linearGradient>
                    </defs>
                    <circle r="94" cx="100" cy="100" stroke="url(#gradient)" stroke-width="22" fill="none"  stroke-dasharray="675.48" stroke-dashoffset="0"></circle>
                  </svg>
                </div>
              </div>
              <div class="statistic__nums">
                <span class="spincrement">5.22</span>
                млрд. руб.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="panel2" class="tab-pane fade">2</div>
      <div id="panel3" class="tab-pane fade">3</div>
      <div id="panel4" class="tab-pane fade">4</div>
    </div>
  </div>
</div>