@mixin cf {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}
@mixin bp($res) {
  @media (min-width: $res) {
    @content;
  }
}
@mixin font-mw {
  font-family: Merriweather, sans-serif;
}